{{ define "side-nav" }}

<div class="container h-100 p-0">
    <div class="row w-100 h-100 m-0">
        <div class="col-12 p-0 h-100 border overflow-auto">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link text-white active" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
                <a class="nav-link text-white" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="v-pills-home" aria-selected="false">Account</a>
                <a class="nav-link text-white" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="v-pills-profile" aria-selected="false">Security</a>
              </div>
        </div>
    </div>
</div>

{{ end }}