{{ define "content"}}
  
<ul class="list-group">
    <h5>Setting two-factor authentication</h5>
    <li class="list-group-item active">
        STEP.1 Install the two-factor authentication app
    </li>
    <li class="list-group-item text-dark">
        Search for the app "Google Authenticator" on the App Store or Google Play and install it.
    </li>
    <li class="list-group-item active">
        STEP.2 Set up the app
    </li>
    <li class="list-group-item text-dark">
        Start the app and scan the <a href="/preferences/security/otp/show" target="_blunk"><i data-feather="external-link"></i>barcode</a>.
    </li>
    <li class="list-group-item active">
        STEP.3 Make sure the app is set correctly
    </li>
    <li class="list-group-item text-dark">
        If the barcode is read correctly, a one-time password will be displayed. Enter the one-time password displayed on the app to make sure it is set correctly.
        <form action="/preferences/security/otp/enable" method="POST" class="p-4">
            <div class="form-group">
                <label for="otp" class="col-form-label">One-time password</label>
                <input type="text" class="col-6 form-control" name="otp" inputmode="verbatim" minlength="6" maxlength="6" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Authenticate</button>
            </div>
        </form>
    </li>
</ul>

{{ end }}